#point-container {
  display: flex;
  flex-direction: column;
}

.point-config {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 12px;
}
.point-card-container {
  margin: 12px 12px 0 12px;
  padding: 0px;
}

.point-card-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;

}

.point-photo {
  width: 40px;
  height: 40px;
}

.point-card-point {
  width: 100%;
  font-size: 1.1rem;
  padding: 10px 20px;
}

#point-list-add-route-icon {
  width: 48px;
}

.point-delete-modal {
  padding: 20px 8px 8px 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.point-delete-modal p {
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  padding: 18px 6px;
  margin: 0px;
  border-bottom: 1px solid blue;
}

.point-config-delete-item-name {
  font-size: 1.3rem;
  font-weight: 600;
  text-align: center;
  padding: 8px;
  padding-bottom: 12px;
  color: red;
  border-bottom: 1px solid blue;
}

.point-config-delete-modal-buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 12px 16px;
}

.point-config-delete-buttons{
  width: 30%;
}

/* ADICIONAR PONTO DE PARADA*/
.point-config-add-modal{
  padding: 20px 8px 8px 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.point-config-add-modal p {
  font-size: 1.3rem;
  font-weight: 600;
  text-align: center;
  padding: 18px 6px 0px 6px;
  margin: 0px;
}

#point-config-input-name{
  width: 90%;
  margin: 8px 12px;
}

.point-config-add-modal-buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 12px 16px;
}

.point-config-add-buttons{
  width: 30%;
}

.point-config-header-name {
  margin: 0;
}
