.responsable-config-card-container {
  margin: 6px 6px;
  padding: 0px;
}

.responsable-config-home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 12px;
  margin: 0;
  padding: 0;
}

.responsable-config-home-card-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  margin: 0;
  padding: 12px;
}
