#route-container {
  display: flex;
  flex-direction: column;
}

.route-card-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.route-photo {
  width: 40px;
  height: 40px;
}

.route-card-point {
  width: 100%;
  font-size: 1.1rem;
  padding: 10px 20px;
}

#route-list-add-route-icon {
  width: 48px;
}

#route-list-add-route-text {
  border: 0;
  font-size: 1.3rem;
  font-weight: normal;
  padding: 12px;
}

#route-responsable-add {
  width: 80%;
  align-self: center;
}
#route-responsable-add-text {
  padding: 16px;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
}

.route-responsable-add-modal-buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 12px 16px;
}

.route-responsable-add-buttons{
  width: 30%;
}
