p {
  height: auto;
  width: 100%;
  font-size: 2rem;
  font-weight: bolder;
  margin: 12px 8px 8px 0px;
}

#route-home-loading {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  place-items: center;
  font-size: 1.5em;
}

.route-home-card-container {
  margin: 6px 6px;
  padding: 0px;
}

.route-home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 12px;
  margin: 0;
  padding: 0;
}

.route-home-card-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  margin: 0;
  padding: 12px;
}

.route-home-passager-buttons {
  margin-right: 16px;
}

.route-home-passager-points {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  gap: 4px;
  padding: 0 12px 12px 12px;
}
