#route-config-route {
  width: 100%;
  font-size: 1.3rem;
  margin: 0px;
}

#route-config-loading {
  width: 100%;
  display: flex;
  justify-content: center;
  place-items: center;
  font-size: 1.5em;
}

#route-config-name-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px 8px 16px;
}

#route-config-name {
  font-size: 1.5rem;
}

.route-config-list-point {
  margin: -2px;
}


.route-config-point:last-child {
  border-radius: 0 0 4px 4px;
}

.route-config-button-trash {
  padding: 4px 0;
  margin: 0px;
  font-size: 16px;
}

#route-config-point-empty {
  width: 100%;
  font-size: 1.2rem;
  padding-top: 120px;
  text-align: center;
}

.route-config-delete-modal {
  padding: 20px 8px 8px 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.route-config-delete-modal p {
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  padding: 6px;
  margin: 0px;
  border-bottom: 1px solid blue;
}

.route-config-delete-item-name {
  font-size: 1.3rem;
  font-weight: 600;
  text-align: center;
  padding: 8px;
  padding-bottom: 12px;
  color: red;
  border-bottom: 1px solid blue;
}

.route-config-delete-modal p span {
  color: red;
}
.route-config-delete-modal-buttons {
  display: flex;
  flex-direction: column;
  padding: 0px 16px;
  gap: 8px;
}

.route-confg-card-container {
  margin: 12px;
  padding: 0px;
}

.route-config {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 12px;
}

.route-config-icon {
  width: 32px;
  margin: 0;
  padding: 0;
}

.route-config-card-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.route-config-calendar-accordion {
  display: flex;
  flex-direction: column;
  margin: 0px 4px 0 0;
  gap: 4px;
}
.route-config-calendar-head {
  font-size: 1.3rem;
  margin: 4px 0px;
}
#route-config-calendar-buttons{
  display: flex;
  padding: 0px 8px 12px 0px;
  justify-content: flex-end;
  gap: 32px;
}
#route-config-list-days{
  width: 100%;
  /* border: 1px solid red; */
}

